/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-size: 24px;
  line-height: 32px;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #FFA500;
}

section {
  float: left;
  color: #ffffff;
}

#left {
  background-color: #30948D;
  width: 33.33%;
  padding: 20px;
  color: #ffffff;
}

#middle {
  background-color: #9E1212;
  width: 33.33%;
  padding: 20px;
  color: #ffffff;
}

#right {
  background-color: #30948D;
  width: 33.33%;
  padding: 20px;
  color: #ffffff;
}

#full {
  background-color: #394549;
  height: 200px;
  margin-top: 20px;
  width: 100%;
}

#division {
  color: #ffffff;
  background-color: #6ea3da;
  height: 80px;
  margin: 40px;
}

aside {
  background-color: #a6b747;
  color: #ffffff;
  float: left;
  padding: 10px;
  margin: 20px;
  width: 33.33%;
  height: 160px;
}

footer {
  background-color: #FFA500;
  clear: both;
  padding: 20px;  
  margin-top: 20px;
}
